@use '../common';

.featuredRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h2 {
    @include common.fontStyle(
                    common.$h2-font-size,
                    common.$h2-font-cr,
                    center);
  }
}

.restContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.restaurant {
  position: relative;
  height: 335px;
  margin: 3px;


  .mealPict {
    width: 250px;
    border-radius: 8px;
  }

  .restLogo {
    width: 55px;
    border-radius: 8px;
    position: absolute;
    top: 220px;
    left: 0;
  }

  $height: 35px;

  .discounts, .deliveryRate {
    position: absolute;
    top: 10px;

    @include common.fontStyle(
                    common.$figure-headers-font-size,
                    common.$light-font-cr,
    );
    line-height: 34px;
    border-radius: 8px;
    padding-left: 35px;
  }

  .discounts {
    background: common.$bg-grad-10;
    width: 90px;
    height: $height;
    left: 10px;

    &:before {
      content: common.$discountSvg;
      position: absolute;
      left: 10px;
      top: 3px;
    }
  }

  .deliveryRate {
    background: common.$bg-cr-10;
    width: 50px;
    height: $height;
    left: calc(10px + 135px);

    &:before {
      content: common.$deliverySvg;
      position: absolute;
      left: 10px;
      top: 3px;
    }
  }

  .restName {
    @include common.fontStyle(
                    common.$figure-headers-font-size,
                    common.$darker-font-cr
    );
    position: absolute;
    top: 220px;
    left: 70px;
  }

  .ratings {
    @include common.fontStyle(
                    common.$figure-headers-font-size,
                    common.$bg-cr-10,
                    default, normal, normal);
    color: common.$bg-cr-10;
    position: absolute;
    top: 243px;
    left: 220px;

    &:before {
      content: common.$rateSvg;
      position: absolute;
      left: -28px;
    }

  }

  .open, .closed {
    position: absolute;
    left: 0;
    top: 285px;
    border-radius: 8px;

    @include common.fontStyle(
                    common.$figure-headers-font-size,
                    common.$darker-font-cr
                    );
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 15px;
  }

  .open {
    background: rgba(121, 185, 60, 0.2);
    color: #79B93C;
  }

  .closed {
    background: rgba(241, 114, 40, 0.2);
    color: #F17228;
  }

}


